html {
    background-image: url(homeimage/165162737_4679096642106146_3311128484245134838_n.jpg);
    background-size: cover; /* Ensure the image covers the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh;
}
body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Specify a fallback font family */
}

.container{
    position:sticky;
    top: 0%;
    right: 0%;
    left: 0%;
    text-align: center;
    align-items: center;
    height: 130px;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    background-color: #151523;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    color:#c66600 !important;
    gap:4px;
    
}
.content{
    color: #c64f00;
    text-shadow: 2px 2px 5px red;
    font-family: "Sofia", sans-serif;
}
a{
    height: 30px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    color:#c64f00;
    font-size: 20px;
    text-transform: capitalize;
    border: 2px  #c63500;
    border-radius: 80px;
    transition: font-size 0.4s ease-in-out; 
    
}
a:hover{
font-size: 16px;
    color: rgb(232, 227, 227);
    background-image: linear-gradient(rgb(20, 20, 19),rgb(132, 77, 68));
    }
/* Mobile Devices */
@media only screen and (max-width: 767px) {
    .container {
        height: 100px;
        font-size: 14px;
        flex-direction: column;
    }
    a {
        font-size: 18px;
        padding: 8px;
    }
}
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 120px;
        font-size: 18px;
    }
    a {
        font-size: 20px;
        padding: 10px;
    }
}

