body{
    background-color: var(--edge-grey-background);
    margin: 0;
    padding: 0;
}
.container{
    position: sticky;
    z-index: 1000;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 150px;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    background-color: #151523;
    backdrop-filter: blur(100px);
    justify-content: space-around;
    color:#c61700 !important;
    gap:400px;
    div{
        display: flex;
        flex-direction: row;
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 20px;
            text-decoration: none;
            color:#c64f00;
            
        }
    }
    h1{
        color:#c66a00;
        display: inline-block;
      text-shadow: 2px 2px 5px red;
      font-family: "Sofia", sans-serif;
        
    }
}


a{
    height: 30px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    color:#d9e882e3;
    font-size: 20px;
    text-transform: capitalize;
    border: 2px  #c63500;
    border-radius: 80px;
    transition: font-size 0.4s ease-in-out; 
    
}
a:hover{

font-size: 16px;
color: rgb(232, 227, 227);
background-image: linear-gradient(rgb(20, 20, 19),rgb(132, 77, 68));
}
.father{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding:0px;
}
.father div{
  height:80vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 20px);
  border: 2px;
  border-style: solid;
  flex-wrap: wrap;
  align-items:flex-end;
  justify-content: center;
  margin: 5px;
  
}
#t1{
  background-image: linear-gradient(rgb(219, 184, 145),rgb(220, 65, 38));
  border: solid;
  justify-content:flex-end;
  align-items: center;
  height: 5%;
  width: 15%;
  position:absolute;
  margin: 10px;
  margin-top: 440px;
  margin-right: 60px;
  border-radius: 500px;
  border: none;
  text-align: center;
}
.block1 {
    background-image: url(LaLiga/atle\ 2019.jpeg);
    background-size:cover;
    background-position: center;
  
  }
  
  .block2 {
    background-image: url(LaLiga/barca\ 2022-2023.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .block3 {
    background-image: url(LaLiga/brca2011-2012.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block4 {
    background-image: url(LaLiga/classic\ atltco1994.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block5 {
    background-image: url(LaLiga/real2009-2010.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block6{
    background-image: url(LaLiga/real2014-2015.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block7 {
    background-image: url(LaLiga/sev\ 2019-2020.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block8 {
    background-image: url(LaLiga/valenca2004.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block9{
    background-image: url(primerlea/arsenal2024.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block10 {
    background-image: url(primerlea/arsenal\ away2021.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block11{
    background-image: url(primerlea/everton2021.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block12{
    background-image: url(primerlea/leverpool2018.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block13 {
    background-image: url(primerlea/newcastele2021.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block14 {
    background-image: url(primerlea/wolves2023.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block15{
    background-image: url(primerlea/wolves\ away2024.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .block16{
    background-image: url(primerlea/burly2021.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block17 {
    background-image: url(siraA/inter2021.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block18 {
    background-image: url(siraA/juve\ 2020\ \(3\).jpeg);
    background-size: cover;
    background-position: center;
  }
  .block19{
    background-image: url(siraA/lazio2024.jpeg);
    background-size: cover;
    background-position: center;
  }
  .block20 {
    background-image: url(siraA/napoli2023\ \(2\).jpeg);
    background-size: cover;
    background-position: center;
  }
  
.logo{
    width: 100px;
    height: 50px;
background-size: contain; 
background-repeat: no-repeat;
background-image: url(/tshirt.png);
}
.afterC{
    text-align: center;
    align-items: center;
    align-self: center;
    display: block;
    text-transform: uppercase;
}

.closing{
    position: absolute;
    right: 0%;
    left: 0%;
    text-align: center;
    align-items: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #151523;
    backdrop-filter: blur(100px);
    a{
       
      color:#c66a00;
      display: inline-block;
    text-shadow: 2px 2px 5px red;
    font-family: "Sofia", sans-serif;
border: none;
    }
p{
font-size: 35px;
color:#c66a00;
display: inline-block;
text-shadow: 2px 2px 5px red;
font-family: "Sofia", sans-serif;
}
}
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .father div {
        flex: 1 1 100%; /* Full width for each item */
        margin: 5px;
    }

    .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10,
    .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19, .block20 {
        height: 150px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .father div {
        flex: 1 1 calc(50% - 20px); 
        margin: 10px;
    }
}
