:root {
    --orange-color:#F04B25;
    --yellow-color:#F5A805;
    --dark-color:#000;
    --yellow-color-25:#F4A90540;
    --primary-color:#12376B;
    --secondary-color:#F5F5F5;
    --blue-color:#286CD5;
    --gray-color:#616161;
    --gray-color-card-text:#686868;
    --card-image-layer:#F04B2526;
    --white-color:#fff;
    --yellow-05:#F4A905;
    --dark-blue:#12376B;
    --dark-yelllow:#9B6900;
    --light-gray:#909090;
}
