*{
    margin: 0;
    padding: 0;
}
.container{
    padding-inline:7em ;
}
.allcard{
    position: relative;
}
.overlay {
    background-color: rgba(0,0,0, 0.3);
    z-index: -1;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    width: 22em !important;
    min-height: 27em !important;
    overflow: hidden;
    padding: 0;
}
.overcard{
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(to bottom,rgba(45, 41, 41, 0.1), rgba(0, 0, 0, 0.9) );
    width: 100%;
    height: 100%;

}
.card img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.card-body{
    z-index: 3;
}
.card-body h3{
    font-size: 1.25em;
    font-weight: 700;
    width: 17.5em;
    margin: 0;
    color: white;
}
.pp{
}
.card-body p{
    font-size: 0.9em;
    font-weight: 400;
    width: 21em;
    color: white;
    display: none;

}
.card-body:hover p{
    display: block;
}
@media (max-width:1400px){
    .container{
        padding-inline: 2em;
    }
}
@media (min-width:577px) and (max-width:884px){
    .container{
        padding-inline: 4em;
    }
    .card {
        width: 39em !important;
    }
    .card-body{
        width: 100%;
    }
    .card-body h3{
        width: 100%;
    }
    .card{
        margin-bottom: 2em;
    }
    .card-body p{
        width: 100%;
    }
}
@media (max-width:576px){
    .container{
        padding-inline: 2em;
    }
    .tilte p{
        text-align: center;
    }
    .card{
        margin-bottom: 2em;
    }
    .card-body h3 {
        font-size: 1em;
    }
}